# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.sqlite3

# Env / secrets
.env

# Django
backend/staticfiles/

# Node / frontend
node_modules/
frontend/dist/

# OS / editor
.DS_Store
.idea/
.vscode/
